# AutoTrader Challenge

## Setup

In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import pyarrow # For accessing parquet files

In [6]:
data_path= f"rate_of_sale_may_2023.snappy.parquet" 

data_dict_path = f"rate_of_sale_data_dict.csv" 

df = pd.read_parquet(data_path) 

category_descriptions = pd.read_csv(data_dict_path)

In [7]:
df.head(10)

,stock_item_id,last_date_seen,first_date_seen,days_to_sell,first_retailer_asking_price,last_retailer_asking_price,can_home_deliver,reviews_per_100_advertised_stock_last_12_months,segment,seats,...,odometer_reading_miles,first_registration_date,attention_grabber,manufacturer_approved,price_indicator_rating,adjusted_retail_amount_gbp,predicted_mileage,number_of_images,advert_quality,postcode_area
0,52ae009b671ab58b3d4ff109a9fbdcf8d847de0fa190e1...,2023-05-05,2021-03-25,771,6995,6495.0,False,3.9,Independent,5.0,...,65000,2004-05-07,*IMMACULATE**FULL HISTORY*,False,NOANALYSIS,NaN,NaN,50,NaN,AL
1,32b1bac6934b1f64ff43cffa9df5aa296ead8143c36f9f...,2023-05-09,2021-05-25,714,13725,14995.0,False,NaN,Franchise,5.0,...,16018,2019-11-30,Sports Styling | Great Economy,True,GOOD,14848.0,26078.0,15,57.0,HP
2,21703d22d87eaa95c4dc81a60ba2c8cbe3b90ab659292c...,2023-05-12,2021-11-26,532,15499,13999.0,False,0.2,Independent,5.0,...,31093,2018-03-08,"Sat Nav,Leather,Auto,Euro 6",False,GREAT,14571.0,34732.0,22,61.0,SR
3,661acafc271373946cea7d30ac7f34257404ab89a1ad33...,2023-05-16,2022-02-17,453,10995,9995.0,False,7.9,Franchise,5.0,...,79000,2015-07-02,Viewing by APPOINTMENT ONLY,False,FAIR,9349.0,65684.0,30,61.0,FY
4,638216dc92410d965b416fea5b3cec9ca903368795fdde...,2023-05-04,2022-03-21,409,46000,37500.0,False,6.8,Franchise,5.0,...,10214,2022-03-03,Reserve Online,True,GOOD,37055.0,11765.0,22,48.0,LE
5,e3c8b08856a8736bb48c38f083d42f43f3e3e8e3466610...,2023-05-21,2022-04-27,389,1395,1295.0,False,2.6,Independent,5.0,...,91000,2009-03-25,8 MONTHS MOT,False,NOANALYSIS,2285.0,61512.0,15,NaN,RG
6,82369d8013f2ab13f8f49fb780797298a8dd19974d3b60...,2023-05-14,2022-06-06,342,8257,7457.0,False,NaN,Independent,5.0,...,58849,2015-03-18,"Â£0 ROAD TAX, 1/2 LEATHER SEATS",False,LOW,8145.0,52450.0,24,54.0,PE
7,1fd13f137d7ed19e993b07dd1708992582537e56efb863...,2023-05-03,2022-06-16,321,23500,19500.0,False,1.2,Independent,5.0,...,40000,2017-11-30,LOW MILEAGE AUTOMATIC,False,NOANALYSIS,24662.0,52255.0,23,44.0,N
8,c34a29671d55abf60ea1ab1c23ad21a0a7437c8ffea756...,2023-05-16,2022-06-23,327,96950,84950.0,False,NaN,Independent,4.0,...,5000,2018-03-29,Mulliner Driving Specification,False,NOANALYSIS,96290.0,23167.0,9,NaN,HP
9,db6f342f73f5c7819fef4254e6886387eac15e026878ab...,2023-05-22,2022-06-24,332,15995,15695.0,False,NaN,Independent,5.0,...,34000,2018-11-07,DEPOSIT TAKEN ON THIS CAR,False,GOOD,15973.0,37233.0,30,65.0,CO

In [8]:
category_descriptions.head(1000)

,Field,Description
0,stock_item_id,Unique ID of the advert e.g. 8a42801e86dad35a0...
1,last_date_seen,The date the vehicle was last seen advertised ...
2,first_date_seen,The first date the vehicle was listed on Auto ...
3,days_to_sell,The difference in days between first_date_seen...
4,first_retailer_asking_price,The price the advert had when first created. T...
5,last_retailer_asking_price,The last seen price
6,can_home_deliver,This advert is able to be delivered to the buy...
7,reviews_per_100_advertised_stock_last_12_months,How many reviews the seller has recieved in th...
8,segment,Whether the seller is a Franchise or Independe...
9,seats,Number of seats in the vehicle
10,doors,Number of doors the vehicle contains. A hatchb...
11,co2_emission_gpkm,The grams of C02 emitted per km driven
12,top_speed_mph,The top speed of the vehicle in miles per hour
13,zero_to_sixty_mph_seconds,The time to accelerate from 0-60 mph in seconds
14,engine_power_bhp,Engine power in brake horsepower
15,fuel_economy_wltp_combined_mpg,The official WLTP miles per gallon rating for ...
16,battery_range_miles,The rated electric range of a vehicle
17,battery_usable_capacity_kwh,The battery capacity availiable to use in kWh
18,length_mm,The length of the vehicle in mm
19,boot_space_seats_up_litres,The volume of the boot in litres
20,insurance_group,"The insurance group of the vehicle, on a scale..."
21,plate,The portion of the registration plate denoting...
22,make,"The manufacturer of a vehicle, e.g. Ford"
23,model,"The model of vehicle, e.g. Fiesta"
24,generation,"The generation of vehicle, e.g. Hatchback (201..."
25,derivative,The derivative of the vehicle e.g. 1.6T EcoBoo...
26,derivative_id,The unique id associated with each derivative ...
27,body_type,The body type of the vehicle e.g. Hatchback
28,fuel_type,The vehicle fuel type e.g. Diesel Plug-in Hybrid
29,transmission_type,"The transmission of the vehicle, primerially A..."
30,drivetrain,Which wheels recieve power e.g. Front Wheel Drive
31,colour,The standardised colour of the vehicle e.g. Grey
32,odometer_reading_miles,The number of miles the vehicle has been driven
33,first_registration_date,The date the vehicle was first registered e.g....
34,attention_grabber,A small strip of text that appears on the adve...
35,manufacturer_approved,"Whether the vehicle is manufacturer approved, ..."
36,price_indicator_rating,The last seen price indicator flag shown on th...
37,adjusted_retail_amount_gbp,The Auto Trader valuation accounting for the o...
38,predicted_mileage,The Auto Trader predicted mileage for that veh...
39,number_of_images,The number of images the advert contained on t...
40,advert_quality,Internal Auto Trader metric which aims to capt...
41,postcode_area,The postcode area the vehicle was located at e...

## Data Sanitisation

### Drop Irrelevant Columns

In [9]:
df = df.drop(columns=['stock_item_id', 'date_last_seen', 'attention_grabber', 'derivative', 'generation', 'derivative_id'])

KeyError: "['date_last_seen'] not found in axis"

### Categorical Null Records

In [ ]:
length = len(df)

# Drop null records: can_home_deliver
dataset = df.dropna(subset=['can_home_deliver'])
print(f'{str(length - len(df))} NULL records dropped: can_home_deliver')
length = len(df)

# Drop null records: segment
dataset = df.dropna(subset=['segment'])
print(f'{str(length - len(df))} NULL records dropped: segment')
length = len(df)

# Drop null records: seats
dataset = df.dropna(subset=['seats'])
print(f'{str(length - len(df))} NULL records dropped: seats')
length = len(df)

# Drop null records: doors
dataset = df.dropna(subset=['doors'])
print(f'{str(length - len(df))} NULL records dropped: doors')
length = len(df)

# Drop null records: insurance_group
dataset = df.dropna(subset=['insurance_group'])
print(f'{str(length - len(df))} NULL records dropped: insurance_group')
length = len(df)

# Drop null records: plate
dataset = df.dropna(subset=['plate'])
print(f'{str(length - len(df))} NULL records dropped: plate')
length = len(df)

# Drop null records: make
dataset = df.dropna(subset=['make'])
print(f'{str(length - len(df))} NULL records dropped: make')
length = len(df)

# Drop null records: model
dataset = df.dropna(subset=['model'])
print(f'{str(length - len(df))} NULL records dropped: model')
length = len(df)

# Drop null records: body_type
dataset = df.dropna(subset=['body_type'])
print(f'{str(length - len(df))} NULL records dropped: body_type')
length = len(df)

# Drop null records: fuel_type
dataset = df.dropna(subset=['fuel_type'])
print(f'{str(length - len(df))} NULL records dropped: fuel_type')
length = len(df)

# Drop null records: transmission_type
dataset = df.dropna(subset=['transmission_type'])
print(f'{str(length - len(df))} NULL records dropped: transmission_type')
length = len(df)

# Drop null records: drivetrain
dataset = df.dropna(subset=['drivetrain'])
print(f'{str(length - len(df))} NULL records dropped: drivetrain')
length = len(df)

# Drop null records: colour
dataset = df.dropna(subset=['colour'])
print(f'{str(length - len(df))} NULL records dropped: colour')
length = len(df)

# Drop null records: manufacturer_approved
dataset = df.dropna(subset=['manufacturer_approved'])
print(f'{str(length - len(df))} NULL records dropped: manufacturer_approved')
length = len(df)

# Drop null records: price_indicator_rating
dataset = df.dropna(subset=['price_indicator_rating'])
print(f'{str(length - len(df))} NULL records dropped: price_indicator_rating')
length = len(df)

# Drop null records: postcode_area
dataset = df.dropna(subset=['postcode_area'])
print(f'{str(length - len(df))} NULL records dropped: postcode_area')
length = len(df)

### Continuous Null Records

In [ ]:
length = len(df)

# Drop null records: first_retailer_asking_price
dataset = df.dropna(subset=['first_retailer_asking_price'])
print(f'{str(length - len(df))} NULL records dropped: first_retailer_asking_price')
length = len(df)

# Drop null records: last_retailer_asking_price
dataset = df.dropna(subset=['last_retailer_asking_price'])
print(f'{str(length - len(df))} NULL records dropped: last_retailer_asking_price')
length = len(df)